:root{
    --mainColor:#606b56;
    --secondColor: #515a48;

    --borderColor:#161914;

    --mainText:#fff;
    --secondText:#eeeeee;

    --themeDotBorder:#fff;

    --previewBg:rgba(81, 90, 72, 0.808);
    --previewShadow: #2a2f25;

    --buttonColor: black;
}   